- name: Create required mcrcon directories
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_user }}"
    mode: '755'
  loop:
    - { path: "{{ minecraft_backup_dir }}" }

- name: Get UID and GUID
  getent:
    database: passwd
    key: "{{ minecraft_user }}"

- name: Set UID/GUID variables
  set_fact:
    username_uid: "{{ getent_passwd[item].1 }}"
    username_guid: "{{ getent_passwd[item].2 }}"
  loop:
    - "{{ minecraft_user }}"

- name: Install python pip packages
  become: yes
  become_user: "{{ minecraft_user }}"
  pip:
    name:
      - virtualenv
      - requests

- name: Install mcrcon through Docker
  community.docker.docker_container:
    name: mcrcon
    image: futuralogic/mcrcon:latest
    state: present
    user: "{{ username_uid }}:{{ username_guid }}"
    pull: true
    cleanup: false
    detach: true
    restart_policy: "no"
    network_mode: "bridge"
    env:
      TZ: "{{ minecraft_time_zone }}"
      PUID: "{{ username_uid }}"
      PGID: "{{ username_guid }}"
      RCON_SERVER: 127.0.0.1
      RCON_PORT: 25575
      RCON_PASS: "{{ mcrcon_pass }}"
      MC_WORLD: "{{ minecraft_world_name }}"
      KEEP_MIN: "{{ minecraft_backup_retention_mins }}"
    volumes:
      - "{{ minecraft_dir }}:/data/from"
      - "{{ minecraft_backup_dir }}:/data/to"
