- name: Install mcrcon package dependencies
  package:
    name:
      - git

- name: Install mcrcon package dependencies (Debian-based)
  when: (ansible_distribution == 'Ubuntu') or (ansible_distribution == 'Debian')
  package:
    name: build-essential

- name: Install mcrcon package dependencies (Fedora)
  when: ansible_distribution == 'Fedora'
  dnf:
    name: '@Development tools'
    state: present

# ----- ----- ----- ----- -----

- name: Create required mcrcon directories
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_user }}"
    mode: '755'
  loop:
    - { path: "{{ minecraft_dir }}" }
    - { path: "{{ minecraft_dir }}/build_mcrcon" }

- name: Clone the latest mcrcon repo
  become: yes
  become_user: "{{ minecraft_user }}"
  git:
    repo: "https://github.com/Tiiffi/mcrcon"
    dest: "{{ minecraft_dir }}/build_mcrcon"
    version: v0.7.2
    clone: yes
    recursive: yes
    track_submodules: yes
    force: yes
    accept_newhostkey: yes

- name: Compile mcrcon
  community.general.make:
    make: /usr/bin/make # which binary to use
    chdir: "{{ minecraft_dir }}/build_mcrcon"

- name: Create mcrcon binary symlink
  become: yes
  become_user: "{{ minecraft_user }}"
  file:
    src: "{{ minecraft_dir }}/build_mcrcon/mcrcon"
    dest: "{{ minecraft_dir }}/mcrcon"
    state: link
