- name: Create required mcrcon directories
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_user }}"
    mode: '755'
  loop:
    - { path: "{{ minecraft_backup_dir }}" }

- name: Install mcrcon through Docker
  community.docker.docker_container:
    name: mcrcon
    image: futuralogic/mcrcon:latest
    state: present
    user: "{{ username_uid }}:{{ username_guid }}"
    pull: true
    cleanup: false
    detach: true
    restart_policy: "no"
    network_mode: "bridge"
    env:
      TZ: "{{ time_zone }}"
      PUID: "{{ username_uid }}"
      PGID: "{{ username_guid }}"
      RCON_SERVER: 127.0.0.1
      RCON_PORT: 25575
      RCON_PASS: "{{ mcrcon_pass }}"
      MC_WORLD: "{{ minecraft_world_name }}"
      KEEP_MIN: "{{ minecraft_backup_retention_mins }}"
    volumes:
      - "{{ minecraft_dir }}:/data/from"
      - "{{ minecraft_backup_dir }}:/data/to"
