- name: Create minecraft user account
  user:
    name: "{{ minecraft_user }}"

# ----- ----- ----- ----- -----

- name: Fedora Java Package variable
  when: ansible_distribution == 'Fedora'
  set_fact:
    java_package: java-17-openjdk

- name: Debian-based Java Package variable
  when: (ansible_distribution == 'Ubuntu') or (ansible_distribution == 'Debian')
  set_fact:
    java_package: openjdk-17-jdk

- name: "Install Java environment {{ java_package }}"
  package:
    name: "{{ java_package }}"
    state: latest

# ----- ----- ----- ----- -----

- name: Create minecraft server jar directory
  file:
    path: "{{ minecraft_dir }}/jar_versions/"
    state: directory
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_user }}"
    mode: '755'

- name: Download latest Fabric JAR
  become_user: "{{ minecraft_user }}"
  get_url:
    url: "https://meta.fabricmc.net/v2/versions/loader/{{ minecraft_version }}/{{ minecraft_fabric_version }}/server/jar"
    dest: "{{ minecraft_dir }}/jar_versions/fabric-{{ minecraft_version }}.jar"
    mode: '660'

- name: Create symlink to minecraft server.jar
  become_user: "{{ minecraft_user }}"
  file:
    src: "{{ minecraft_dir }}/jar_versions/fabric-{{ minecraft_version }}.jar"
    dest: "{{ minecraft_dir }}/server.jar"
    state: link
