[Unit] 
Description=Minecraft Server backups

[Timer] 
OnCalendar=*-*-* {[ minecraft_backup_time ]}
Unit=minecraft-backup.service 

[Install] 
WantedBy=basic.target
