[Unit]
Description=Minecraft Server backups
After=network.target

[Service]
User={{ minecraft_user }}
WorkingDirectory={{ minecraft_dir }}
ExecStart=docker exec -it mcrcon backup

[Install]
WantedBy=multi-user.target
