[Unit]
Description=Minecraft Server
After=network.target

[Service]
User={{ minecraft_user }}
Nice=1
SuccessExitStatus=0 1
WorkingDirectory={{ minecraft_dir }}
ExecStart={{ minecraft_dir }}/start.sh
ExecStop=docker exec -it mcrcon run stop

[Install]
WantedBy=multi-user.target
