[Unit]
Description=Minecraft Server backups
After=network.target

[Service]
User={{ minecraft_user }}
WorkingDirectory={{ minecraft_dir }}

# %i == alpha/beta/gamma from timer unit
ExecStart={{ minecraft_dir }}/backup.sh \
    --interval %i

[Install]
WantedBy=multi-user.target
