[Unit] 
Description=Minecraft Server backups

[Timer]
OnCalendar=*-*-* {{ minecraft_backup_time_daily }}
Unit=minecraft-backup@alpha.service

[Install] 
WantedBy=basic.target
