name: ansible-deploy

on:
  push:
    branches: 
      - "main"

jobs:

  deploy:
    name: Ansible Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: "Publish collection on galaxy"
        uses: ansible/ansible-publish-action@v1.0.0
        with:
          api_key: ${{ secrets.ANSIBLE_GALAXY_API_KEY }}
