name: ansible-deploy

on:
  push:
    branches: 
      - "main"

jobs:

  deploy:
    name: Ansible Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Publish role to galaxy
        uses: robertdebock/galaxy-action@1.2.0
        with:
          galaxy_api_key: ${{ secrets.ANSIBLE_GALAXY_API_KEY }}
          git_branch: main
