name: ansible-test

on:
  push:

  pull_request:
    branches: ["main", "stable", "release/v*"]

jobs:

  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          targets: "./"

  # ----- ----- ----- ----- -----

  test:
    needs:
      - build
    name: Ansible Molecule
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        config:
          - image: debian
            tag: bullseye

          - image: ubuntu
            tag: focal

          - image: fedora
            tag: "38"
    steps:
      - uses: actions/checkout@v3

      - uses: robertdebock/molecule-action@5.0.3
        with:
          image: ${{ matrix.config.image }}
          tag: ${{ matrix.config.tag }}